@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}


$cyan_c: #335058;
$black_c: #161616;
$white_c: #fff;


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

span.highlight {
  line-height: 0.2;
  background: #558694;
  display: inline-block;

  padding-bottom: 25px;
}

head {
  height: 0;
}

body {
  background: #B5B5B5;

  div.centering {
    background-color: #fff;
    background-image: url("../img/bg.png");
    background-repeat: repeat-y;
    background-size: contain;
    background-blend-mode: difference;

    min-height: 95vh;
    max-width: 60%;
    margin: auto;
    position: relative;
  }

  nav.main-navbar {
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-size: cover;
    color: $white_c;

    height: 100px;
    display: flex;

    padding: 0 3.5% 0 3.5%;

    display: flex;
    flex-flow: row;

    align-items: center;
    justify-content: space-between;

    a.logo-container {
      max-height: 90%;
      display: flex;
      flex-flow: column;
      align-items: center;

      img {
        width: auto;
        height: 100%;
      }
    }

    h1 {
      font-weight: 900;
      font-size: 2rem;
    }

    span.menu {
      font-size: 2.5rem;
    }
  } // div.main-navbar

  section {
    margin: 50px 0;
    padding: 0 50px;

    h1 {
      color: #fff;
      mix-blend-mode: difference;
      font-weight: 700;
      font-size: 3rem;
    }

    p {
      margin-top: 30px;
      font-size: 1.5rem;
      color: #fff;
      mix-blend-mode: difference;
      text-align: justify;
    }
  }

  footer {
    margin: 50px;
    padding: 50px 0;
    border-top: 2px solid #fff;
    mix-blend-mode: difference;
    color: #fff;
  }
}
